/* Changer l'apparence du bouton */
.button {
	-fx-background-color: transparent; /* Fond transparent */
	-fx-border-color: transparent;     /* Bordure invisible */
    -fx-text-fill: white;          /* Texte en blanc */
    -fx-font-size: 16px;           /* Taille de la police */
    -fx-border-radius: 5px;       /* Coins arrondis */
    -fx-background-radius: 5px;   /* Coins arrondis du fond */
}

/* Changer la couleur de fond de la page */
.root {
    -fx-background-color: #362747;
}

.scroll-pane {
	-fx-background: transparent; /* Fond */
	-fx-background-color: transparent; 
	-fx-border-color: transparent;
}

.text {
	-fx-font-family: "Impact";
}
